.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

.EditLink {
  width: "20%";
  height: "20%";
  font-size: "12px";
  background-color: "transparent";
  box-shadow: "none";
}

button {
  display: block;
  font-size: 16px;
  width: calc(100% - 30px);
  height: 40px;
  background-color: #1C2F74;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #ffb9f6;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
  border: none;
}

button:active {
  background-color: #d782d9;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #e298d8;
  transform: scale(0.99);
}

.App {
}

.formbtn {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 5px;
}

h1,
h3 {
  text-align: center;
}

.logo {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.thankBtn {
  width: 200px;
  height: 35px;
  border: none;
  border-radius: 40px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.5s all ease-out;
  outline: invert;
  background-color: #1C2F74;
}

.thankBtn:hover {
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #61b258;
  background-color: #336daf;
  color: white;
  opacity: 0.9;
  transform: scale(1.2);
}

.nextBtn{
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.5s all ease-out;
  outline: invert;
  background-color: #1C2F74;
  margin: 5px;
  position:sticky;
  bottom: 16px;

}

.nextBtn:hover {
  background-color: #1C2F74;
  color: white;
  opacity: 0.9;
  transform: scale(1.2);
}

.buttonEffects {
  background-color: #1C2F74;
  width: 40px;
  height: 25px;
  border: none;
  border-radius: 40px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.5s all ease-out;
  outline: invert;
}

.buttonEffects:hover {
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #61b258;
  background-color: #336daf;
  color: white;
  opacity: 0.9;
  transform: scale(1.2);
}

.productRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.productImg:hover {
  transform: scale(1.5);
}

.productImg {
  width: 125px;
  height: 125px;
  padding: 20px;
}

.App {
  margin-left: 25%;
  margin-top: 5%;
  margin-right: 25%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.autocomplete {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.prefTitle {
  display: flex;
  font-weight: bold;
  font-size: 20px;
}

.prefDetails {
  display: flex;
}

.homepage {
  margin-left: 20%;
  margin-top: 5%;
  margin-right: 20%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.autocomplete_input .location-search-input {
  width: 100%;
}

.address {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

/* Fix for react-horizontal-datepicker hardcoded values */
[class^='DatePicker_dateDayItem'][style]:not([style='']) {
  position: relative;
  border: none !important;
}

[class^='DatePicker_dateDayItem'][style]:not([style=''])::after {
  content: '';
  display: block;
  /* top: -0.2em;
  left: -0.3em;
  width: 3.5em;
  height: 3.5em; */
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1;
  transform: scale(1.15) translateY(2px);
  border-radius: 50%;
  border: 2px solid rgb(28, 47, 116);
  position: absolute;
}

[class^='DatePicker_daysContainer'] {
  align-items: center;
  padding-bottom: 8px;
}

[class^='DatePicker_button'] {
  transform: translateY(-4px);
}